.App {
  font-family: poppins;
}

.header {
  background-color: #F55A5A;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.header > img {
  max-width: 70px;
}

.header-title {
  color: white;
  font-weight: 400;
  font-size: medium;
  margin-left: -10px;
}

.card-image {
  width: 215px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.card-container {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: row;
}

.ping-image {
  width: 10px;
  margin-right: 6px;
}

.card-info-container {
  margin-left: 20px;
}

.card-location-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -40px;
}

.location-title {
  font-weight: 400;
  margin-right: 16px;
}

h3 {
  font-weight: 500;
  margin-bottom: -10px;
}

h4 {
  font-weight: 400;
}

.line-seperator{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 1px gray;
}